.faq {
  display: flex;
  flex-direction: column;
  margin-left: 160px;
}

.faq h1 {
  font-weight: 1000;
  font-size: 3rem;
}

.grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  width: 940px;
  margin-top: 20px;
}

.grid p {
  border-radius: 8px;
  padding: 20px;
  font-weight: 400;
}

/* app */
.app {
  margin-top: 100px;
  margin-bottom: 40px;
  background-image: url("../../assets//Frame\ \(2\).png");
  height: 508px;
  width: 940px;
  margin-left: 160px;
  color: white;
  border-radius: 8px;
}

.app h1 {
  font-weight: 1000;
  font-size: 3rem;
}

.app button {
  display: flex;
  align-items: center;
  background-color: white;
  font-weight: 400;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
  height: 60px;
  font-weight: 400;
}

.app img {
  width: 20px;
  margin-left: 10px;
}

.app > div > * {
  margin-bottom: 20px;
}

.app > div {
  margin-top: 150px;
  margin-left: 40px;
}

/* footer */
footer > ul > li {
  display: flex;
  align-items: center;
}

footer button {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}

footer ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
  margin-bottom: 10px;
  margin-top: 50px;
}

footer li {
  font-weight: 600;
}

footer button {
  background-color: black;
  color: white;
  display: inline;
  border-radius: 4px;
  padding: 15px 23px;
  font-weight: 600;
}

.mail {
  background-color: white;
  height: 60px;
  width: 280px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  justify-content: center;
  gap: 50px;
  color: grey;
}

.fade-hr {
  border: 0;
  height: 1px; /* Adjust the height as needed */
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    #000,
    rgba(0, 0, 0, 0)
  );
  margin: 10px 150px; /* Adjust the margin as needed */
}
