.customized{
    display: flex;
    align-items: center;
}

.customized .heading>p{
    margin-left: 10px;
    font-weight: 400;
}


.testimonials h1{
    font-weight:1000;
    font-size:3rem;
}

.testimonials-content{
    display:flex;
    align-items: center;
}